body {
    width: 90%;
    margin: 0 auto;
}

#content {
    overflow: auto;
}

#nav, #feature, #footer {
    margin: 1%;
}

.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;
    font-size: larger;
}

.column3 {
    margin-right: 1%;
}

li {
    display: inline;
    padding: 0.5em;
}

#nav, #footer {
    background-color: #efefef;
    padding: 0.5em 0;
    text-align: center;
    font-size: larger;
}

#feature, .article {
    height: 10em;
    margin-bottom: 1em;
    background-color: #efefef;
    font-size: larger;
}

img.imagem {
    width: 400px;
    height: 150px;
    margin: auto;
    display: block;
}

.oito_em_um_grid_layout {
    display: grid; /* 1 */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 2 */
    grid-template-rows: 50vh; /* 3 */
    }

.testesvocacionais {
    background-color: rgb(255, 203, 199);
}

.universidades {
    background-color: rgb(214, 243, 161);
}

.feiradeprofissoes {
    background-color: rgb(184, 252, 190);
}

.enem_sisu_prouni_fies {
    background-color: rgb(184, 242, 252);
}

.linksdeinteresse {
    background-color: rgb(197, 227, 241);
}

.comoestudar {
    background-color: rgb(226, 226, 229);
}

.contato {
    background-color: rgb(188, 188, 236);
}

.outros {
    background-color: rgb(192, 250, 221);
}

.areasdoconhecimento {
    width: 1650px;
    height: 600px;
    padding: 20px;
    border: 8px solid #777677;
    background-color: #d6d6d6;
    color: rgb(24, 23, 23);
    font-size: 18px;
    }