body {
    background-color: #b8f0f891;
    margin-top: 05%;
    margin-left: 05%;
    margin-right: 05%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: #ff14918e;
    color: #8a0bcefa;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    background-color: #ff14918e;
    color: #8a0bcefa;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

p {
    color: #4d60f1;
    text-align: left;
}

strong {
    color: #f16392;
}

em strong {
    color: #f16392;
}
